body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

button {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    float: left;
}

input {
    height: 50px;
    width: 200px;
    text-align: right;
}